<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Encuestas Activas</title>
    <link rel="StyleSheet" href="css/configuracion.css" title="Contemporaneo" />
    <!-- font-awesome -->
    <script src="js/caracteristicas.js"></script>
    <script src="https://kit.fontawesome.com/f82b9b27db.js" crossorigin="anonymous"></script>    
</head>

<body>
    <nav class="navbar navbar-expand-md">

        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
            aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <img src="img/outline_reorder_black_24dp.png" alt="extender menu" height="40" />
        </button>


        <div class="hover">
            <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
                <div class="navbar-nav">
                    <a class="nav-link nav-item" method="GET" href="/publicaciones/pendientes"><b>Publicaciones Pendientes</b></a>
                    <a class="nav-link nav-item" method="GET" href="/publicaciones/historial"><b>Historial Publicaciones</b></a>
                    <a class="nav-link nav-item" method="GET" href="../encuesta"><b>Encuestas</b></a>
                </div>
            </div>
        </div>
    </nav>

    <main>
        <div class="container-fluid px-5">

            <h1>Encuestas</h1>

            <button class="btn btn-success my-2" data-toggle="collapse" data-target="#collapseEncuestaActiva"
                aria-expanded="false" aria-controls="collapseEncuestaActiva">
                <i ></i> Encuesta activa
            </button>
            <button class="btn btn-success my-2" data-toggle="collapse" data-target="#collapseEncuesta"
                aria-expanded="false" aria-controls="collapseEncuesta">
                <i class="fas fa-plus"></i> Nueva encuesta
            </button>
            <div class="row">
                <div class="col-md-4 col-sm-12">
                   {{#if encuestas}}
                        <form method="POST" action="/encuesta/encuestaActiva">
                        {{#each encuestas}}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="encuestaId" value="{{id}}" id="encuestaRadio1">
                                <label class="form-check-label" for="encuestaRadio1">
                                    Encuesta {{id}}
                                </label>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#descripcionModal{{id}}">Descripcion</button>
                            </div>
                            <div class="modal fade" id="descripcionModal{{id}}" tabindex="-1" role="dialog" aria-labelledby="descripcionModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header" style="flex-direction: column;">
                                            <h4 class="modal-title" id="descripcionModalLabel"><center>Descripcion:</center></h4>
                                            </br>
                                            <h5> &nbsp &nbsp {{descripcion}}</h5>
                                        </div>
                                        <div class="modal-body">
                                            {{#each preguntas}}
                                                <h5> * {{unaPregunta}}</h5>
                                                {{#each respuestasPosibles}}
                                                    <h6> &nbsp - {{respuesta}}</h6>
                                                {{/each}}
                                            {{/each}}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                        <button type="submit" class="btn btn-success my-3">Guardar como encuesta activa</button-->
                        </form>
                    {{else}}
                        <spam>No hay encuestas todavia</spam>
                    {{/if}}
                </div>
                <div class="col-md-8 col-sm-12">
                    <div class="collapse" id="collapseEncuesta">
                        <form method="POST" action="/encuesta/nuevaEncuesta">
                            <div class="card card-body">
                                Breve Descripcion:<input type="text" name="descripcionEncuesta" placeHolder="Descripcion"></input>
                            </div>
                            <button type="submit" class="btn btn-success my-3">Crear</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12">
                    <div class="collapse" id="collapseEncuestaActiva">
                        <div class="card card-body">
                        {{#if encuestaActiva}}
                            <h3>Encuesta {{encuestaActiva.id}}</h3>

                            <ol class="preguntas">
                                {{#each encuestaActiva.preguntas}}
                                <li>{{unaPregunta}}</li>
                                    <ol class="respuestas">
                                    {{#each respuestasPosibles}}
                                        <li>{{respuesta}}</li>
                                    {{/each}}
                                    </ol>
                                </li>
                                {{/each}}
                            </ol>
                            </form>
                        {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div class="modal fade" id="caracteristicaModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Agregar respuesta</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="post" action="/encuesta/encuestaActiva/respuesta">
                    <div class="modal-body">
                        <div class="form-group">

                            <label for="caracteristica">Respuesta: </label>
                            <input type="text" placeholder="Respuesta" class="form-control" id="caracteristica" name ="descripcion" required> <!--{{#if caracteristicasMascotas}}value="{{caracteristicasMascotas.descripcion}}" {{/if}}-->
                            <input type="hidden" name="id" id="id">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

<div class="modalEliminar modal" id="modalEliminar">
    <div class="modalContent">
        <input id="caracteristicaMascotaId" type="hidden" value="caracteristicaMascotaId">
      <p>¿Desea eliminar el usuario?</p>
      <button type="button" name="button" class="btn-close-modal" onclick="cerrarModal()" ><i class="fas fa-times-circle"></i></button>
      <br>
      <div class="">
        <button type="button" name="button" class="btn-rojo" onclick="">Eliminar</button>
        <button type="button" name="button" class="btn-cancelar" onclick="cerrarModal()">Cancelar</button>
      </div>
    </div>
  </div>

</html>